*{margin:1px; /* zerar o margin e passin reseta a configuração pré estabelecida pelo html de personalização de margeme padding.*/
padding: 5px;
}

body {
    box-sizing: border-box; /* box-sizing é utilizado para compilar o conteúdo dentro das bordas para que o mesmo não fique fora do layout.*/
    height:100vh; /*esse comando, aumenta o tamanho do body para 100% da tela.*/
    color: rgb(9, 9, 9);
    font-family: Arial, sans-serif;
    background-image: url('maain.jpg'); /* Substitua 'seu-timbre.png' pelo caminho da sua imagem de timbre */
    background-size: cover;
           
}
.quadroMain{
    background-color: #fefbfb;
    border: 2px solid #000; /* Borda de 2 pixels sólida preta */
    width: 30%;
}
h1 {
    background-color: rgb(231, 125, 60);
    font-weight: bold; /*bold -negrito*/
    margin: 20px;
}
.TCA {
    background-color: rgb(255, 255, 255);
    color: rgb(241, 103, 11);
    border-radius: 3px solid #000000;
    padding: 10px;
    border-radius: 300px;
   
}
.estilizacao{
    flex-direction: column;
    margin:10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.estiloimg{
    flex-direction:row;
    margin:10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Button {
    background-color: black;
    width: 280px;
    border: 50px;
    border-radius: 10px;
    color: rgb(241, 103, 11);
    text-decoration: none;
    text-align: center;
}
.markedphrase {
        margin:20px;
}
.Button_{
width: 300px;
background-image: url('maaain.jpg') ;
background-size: 45px 28px;
}
.Button__{
    width: 300px;
background-image: url('maaaain.png') ;
background-size: 45px 30px;
}


